/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.search-ele-container {
  border-radius: 10px;
  background-color: #f1f5f9;
  display: flex;
}
.search-img {
  height: 20px;
  width: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .list-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
